/.vscode
/18082023.xlsx
/18082023Shopify.pdf
/18082023_mabang.xlsx
/18082023_new.xlsx
/finished_order
/images
/pdfs
/pdf_res
/res-image
/sep_img.ipynb
/sep_img_v2.ipynb
/sousimgs
/sousimgs_ES
/sousimgs_UK
/sousimg_comtibres_v8.ipynb
/sousimg_comtibres_v9 - Copie.ipynb
/used-pdf
/used-pdfpage
/used-sousimg
/used_sousimg_ES
/used_sousimg_IT
/used_sousimg_UK
/vosTimbres24042023.pdf
/__pycache__